.weather-card {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 80px;
  height: 90px;
  border: 1px solid bisque;
  margin: 8px;
  box-shadow: 2px 3px 0 0 rgba(255, 12, 12, .4);
  background: rgba(250, 250, 181, 0.4)
}

.weather-card:hover {
  background-color: antiquewhite;
}

.weather-card-body {
  margin-left: 8px;
}

.weather-card-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}